/* document complet */
* {
  list-style: none;
  text-decoration: none;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* header */
.header {
  /*   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}

.nav-bar a {
  margin-left: 2rem;
}

/* body */
body {
  min-height: 100vh;
}

/* polaroids */
#polaroids ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*   border: 1px solid red; */
  flex-wrap: wrap;
}

#polaroids li {
  padding: 10px;
}

.polaroid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /*   border: 1px solid black; */

}

.polaroid h1,
.polaroid img {
  text-align: center;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
}

.deco {
  border: 3px solid black;
  border-radius: 2px;
  margin: 100px;
}