/* Variable couleur */
:root {
  --color-fond: rgba(219, 108, 108, 0.95);
  --color-button: rgba(181.89, 62.90, 62.90, 0.95);
  --color-polaroid: #FFF9F4;
  --color-border: white;
  --color-texte: black;
  --border-polaroid: black;
  --font-family: FilsonPro-Medium;
}

  /* variable font*/

}

/* document complet */
* {
  list-style: none;
  text-decoration: none;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* header */
/*.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/


/*nav bar*/

.logo {
  margin: 40px 68px 20px
}


nav {

  display: flex;
  justify-content: flex-end;
  margin: -2px 5%;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  float: inline-end;
}

a {
  padding: 1.5em;
  text-align: center;
  width: 20%;
  height: 10%;
  border-radius: 1em 1em 0em 0em;
  background: var(--color-button);
  border-left: 2px solid var(--color-border);
  border-top: 2px solid var(--color-border);
  border-right: 2px solid var(--color-border);
  text-align: center;
  justify-content: center;
  font-family: FilsonPro-Medium;
  color: rgb(255, 255, 255);
  font-size: 2vw;
}


.Crew-bleu {
  /*box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);*/
  background-color: #DD7271;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; */
  border-bottom: 3px solid #DD7271;
}

.Crew-data {
  border-bottom: 2px solid var(--color-border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2) inset;
}

.Crew-Yellow {
  border-bottom: 2px solid var(--color-border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2) inset;

}



/* body */
body {
  min-height: 100vh;
  background-image: url(assets/fond-photo-filtre-recadré.jpg);
  background-size: cover;
}


#polaroids {
  background-color: var(--color-fond);
  margin: 0% 5% 4% 5%;
  border: 2px solid var(--color-border);
  border-radius: 20px 0px 20px 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);


}

h1 {
  text-align: center;
  padding-top: 1%;
  color: var(--color-polaroid);
  font-size: 2em;
}

/* polaroids */

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(assets/background.jpg);
  background-size: contain;
  margin: 1% 3% 2% 3%;
  border-radius: 20px;
  border: 1px solid var(--color-border);
  padding-top: 3vh;
  column-gap: 3%;
  padding: 4vh;
}

.card {
  /*   border: 3px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  max-width: 316px;
  max-height: auto;
  overflow: hidden;
}

ul li:first-child,
ul li:nth-child(3),
ul li:nth-child(5),
ul li:nth-child(7) {
  transform: rotate(2deg);
}

ul li:nth-child(2),
ul li:nth-child(4),
ul li:nth-child(6),
ul li:nth-child(8) {
  transform: rotate(-2deg);
}


.card h2,
.card img {
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
}

.polaroid {
  background-color: var(--color-polaroid);
  padding: 6%;
  border: 2px solid grey;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.polaroidBack {
  background-color: var(--color-polaroid);
  padding: 6%;
  border: 2px solid grey;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

h2 {
  padding-top: 7%;
  padding-bottom: 3%;
  font-size: 1.5em;
}

.photo {
  border: 1px solid lightgrey;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}




.deco {
  padding: 6%;
}