/* Variable couleur */
:root {
  --color-fond: rgba(219, 108, 108, 0.95);
  --color-button: rgba(181.89, 62.90, 62.90, 0.95);
  --color-polaroid: #FFF9F4;
  --color-border: white;
  --color-texte: black;
  --border-polaroid: black;

  --font-family: FilsonPro-Medium, Arial, Helvetica, sans-serif;
  --font-family-pola: Kite One, Helvetica, sans-serif;

}





/* document complet */
* {
  list-style: none;
  text-decoration: none;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: var(--font-family);
}


/*nav bar*/

.logo {
  margin: 2% 0 0 5%;
  height: auto;
  width: clamp(120px, 30%, 300px);
}


nav {

  display: flex;
  justify-content: flex-end;
  margin: -2px 5%;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  float: inline-end;

}

[class^="Crew"] {
  padding: 1em 0em;
  text-align: center;
  width: 15rem;
  height: 4rem;
  border-radius: 1em 1em 0em 0em;

  border-left: 2px solid var(--color-border);
  border-top: 2px solid var(--color-border);
  border-right: 2px solid var(--color-border);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

}

a {

  position: absolute;


  font-family: var(--font-family);
  color: rgb(255, 255, 255);
  font-size: clamp(19px, 1vw, 28px);
}

.scotch {
  width: 85%;

  display: block;

}



/*color background red button*/
.Crew-data {
  background: var(--color-button);
}

.Crew-Yellow {
  background: var(--color-button);
}
.Crew-data {
  background: var(--color-button);
}

.Crew-Yellow {
  background: var(--color-button);
}



.Crew-bleu {
  /*box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);*/
  background-color: #DD7271;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; */
  border-bottom: 3px solid #DD7271;
}

.Crew-data,
.Crew-Yellow {
  border-bottom: 2px solid var(--color-border);
}

.Crew-data:hover,
.Crew-Yellow:hover {
  box-shadow: 0px 6px 6px rgba(53, 26, 26, 0.541) inset;
}



/* body */
body {
  min-height: 100vh;
  background-image: url(assets/fond-photo-filtre-recadré.jpg);
  background-size: cover;
}


#polaroids {
  background-color: var(--color-fond);
  margin: 0% 5% 4% 5%;
  border: 2px solid var(--color-border);
  border-radius: 20px 0px 20px 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

}

h1 {
  text-align: center;
  padding-top: 1%;
  color: var(--color-polaroid);
  font-size: clamp(20px, 8vw, 40px);
  ;
}

/* polaroids */

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(assets/background.jpg);
  background-size: contain;
  margin: 1% 3% 2% 3%;
  border-radius: 20px;
  border: 1px solid var(--color-border);
  padding-top: 3vh;
  padding: 4vh;
}



.card {
  /*   border: 3px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  max-width: 316px;
  max-height: auto;
}

ul li:first-child,
ul li:nth-child(3),
ul li:nth-child(5),
ul li:nth-child(7) {
  transform: rotate(2deg);
}



ul li:nth-child(2),
ul li:nth-child(4),
ul li:nth-child(6),
ul li:nth-child(8) {
  transform: rotate(-2deg);
}


.frontPolaroid {
  margin: 0 auto;
  font-family: var(--font-family-pola)
}

.polaroid {
  background-color: var(--color-polaroid);
  padding: 6%;
  /*   border: 2px solid yellow; */
  /*   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.polaroidBack {
  background-color: var(--color-polaroid);
  padding: 6%;
  border: 2px solid grey;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}


h2 {
  padding-top: 7%;
  padding-bottom: 7%;
  /*   font-size: 1.5em; */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.photo {


  border: 25px solid white;
  /*   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  margin-bottom: -2%;
}





/* animation Flip */

.polaroid {
  background-color: transparent;
  height: 400px;
  /*   perspective: 1000px; */
}

.innerPolaroid {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipping:hover .innerPolaroid {
  transform: rotateY(180deg);
}

.frontPolaroid,
.backPolaroid {

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.frontPolaroid {
  /*background-color: #bbb;*/
  color: black;
}

.backPolaroid {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

/* Annimation des polaroids*/

.polaroid:hover {
  animation: animpola ease-in-out 0.12s 6 alternate;
}


@keyframes animpola {

  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }

}

/* photo verso citation*/

.polaroidBack {
  display: block;
/* photo verso citation*/



}

/*les logo git et link*/
.verso {
  width: 25%;
  height: auto;
}

p {
  margin-top: 8%;
  margin-bottom: 10%;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 2%;
}


h3 {
  padding: 3% 0%;
  margin: 5%;
  border: double 8px var(--color-button);
}